name: Build Docker image and publish to GHCR

on:
  push:
    branches:
      main
    tags:
      v*

jobs:
  test:
    name: Test and lint
    uses: HBTGmbH/air-pollution-service/.github/workflows/test.yml@main

  build:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - name: Check out repository
        uses: actions/checkout@v6.0.2

      - name: Setup Docker BuildKit
        uses: docker/setup-buildx-action@v3.12.0

      - name: Log in to the Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine SemVer version
        uses: docker/metadata-action@v5.10.0
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=build
          cache-to: type=gha,scope=build,mode=max

